* {
    margin: 0;
    padding: 0;
}

body {
  background: rgb(191, 219, 228);
  color: black;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
    padding: 20px 0;
    background: rgb(99, 99, 179);
    color: white;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

h1 {    
    /* text-align: center; */
    /* margin-bottom: 25px; */
    /* font-size: 1.8rem; */
    color: white;
    padding-left: 10px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    border: none;
    /* browsers interpret border none as lose all styling,
    so we need to set transparent background to pull from header instead of body */
    background: transparent;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* this, along with position relative in parent, stops box overflowing container */
    right: 0;
    background: white;
    min-width: 120px;
    border: 1px solid #ccc;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background: #eee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    /* padding: 60px 0; */
    display: grid;
    grid-template-rows: auto 1fr;
}

.hero {
    padding: 80px 0;
    text-align: center;
}

section {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

section button {
  border: none;
  background-color: teal;
  color: white;
  padding: 16px 32px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

footer {
    background: teal;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: white;
  }
}