* {
    margin: 0;
    padding: 0;
}

body {
  background: rgb(217, 238, 244);
  color: black;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
    padding: 20px 0;
    background: rgb(99, 99, 179);
    color: white;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-links {
    display: flex;
}

h1 {    
    color: white;
    padding-left: 10px;
}

header h3 {
    margin-left: 25px;
    text-decoration: none;
}

h3 a {
    color: white;
}

h3 a:hover {
    color: #eee;
}

.dropdown {
    /* "use me as the coordinate system for positioned children" */
    position: relative;
}

.dropdown button {
    border: none;
    /* browsers interpret border none as lose all styling,
    so we need to set transparent background to pull from header instead of body */
    background: transparent;
    font: inherit;
    color: white;
    /* margin-right: 25px; */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* this, along with position relative in parent, stops box overflowing container */
    right: 0;
    background: white;
    min-width: 120px;
    border: 1px solid #ccc;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background: #eee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    /* padding: 60px 0; */
    /* background: rgb(217, 238, 244); */
    display: grid;
    grid-template-rows: auto 1fr;
}

.color-btn {
    margin-top: 30px;
}

.hero {
    padding: 80px 0;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

section {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

.page-title {
    padding-top: 20px;
}

.games-area {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 80px;
}

.eq-game-freq-text {
    display: flex;
    gap: 5px;
}

.eq-game-box {
    /* border: 2px solid white; */
    height: 150px;
    width: 80%;
    max-width: 800px;
    background: #033a21;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.eq-game-box p {
    margin-top: 5px;
    margin-left: 5px;
}

#line-container {
    position: relative;
    /* width: 600px;
    height: 300px; */
    /* border: 1px solid #ccc; */
}

#line {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: white;
    pointer-events: none; 
    /* prevents the line from blocking mouse events */
}

.eq-game-box p {
    color: white;
}

.eq-game-box ul {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 10px; */
    list-style: none;
    color: white;
}

.eq-game-button {
    margin-top: 10px;
}

.green-button {
  border: none;
  background-color: teal;
  color: white;
  padding: 12px 24px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10px;
}

.instruct {
    margin-top: 30px;
}

footer {
    background: rgb(99, 99, 179);
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: white;
  }
}